.header__text {
    margin: 0 24px 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: right;
    color: white;

}

@media screen and (max-width: 500px) {
    .header__text {
        font-size: 14px;
        line-height: 17px;
    }
}